@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@700&family=Lora:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:wght@400;800&family=Roboto&family=Ubuntu:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500;1,700&display=swap');
h1{
    font-family: 'Ubuntu';
    font-size: 36px;
    color: rgba(86, 21, 21, 1);
}
.p1{
    font-family: 'lora';
    font-size: 16px;
    color: rgba(26, 4, 4, 1);
}
h5{
    font-family: 'Ubuntu';
    font-size: 18px;
    color: rgba(86, 21, 21, 1); 
}
.fs-6{
    font-family: 'lora';
    font-size: 16px;
    color: rgba(26, 4, 4, 1);
}
.col{
    display: block;
}
.date{
    font-family: 'lora';
    font-size: 12px;
    color:rgba(26, 4, 4, 0.6) ;
}
@media screen and (max-width:376px) {
    h1{
        font-size: 24px;
    }
    .col{
        margin-left: 20px;
        justify-content: center;
    }
    .fs-6{
        width: 92%;
    }
    img{
        width: 296px;
        height: 230px;
    }

}